:root {
  --text-size-common: 22px;
  --text-size-header-1: 32px;
  --text-size-header-2: 26px;
  --text-size-marker: 18px;
}

@media (max-width: 768px) {
  :root {
    --text-size-common: 18px;
    --text-size-header-1: 28px;
    --text-size-header-2: 22px;
    --text-size-marker: 17px;
  }
}
@media (max-width: 600px) {
  :root {
    --text-size-common: 16px;
    --text-size-header-1: 26px;
    --text-size-header-2: 20px;
    --text-size-marker: 16px;
  }
}
@media (max-width: 532px) {
  :root {
    --text-size-common: 12px;
    --text-size-header-1: 22px;
    --text-size-header-2: 16px;
    --text-size-marker: 14px;
  }
}
@media (max-width: 450px) {
  :root {
    --text-size-common: 10px;
    --text-size-header-1: 20px;
    --text-size-header-2: 14px;
    --text-size-marker: 13px;
  }
}
@media (max-width: 401px) {
  :root {
    --text-size-common: 8px;
    --text-size-header-1: 18px;
    --text-size-header-2: 12px;
    --text-size-marker: 12px;
  }
}
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

.footer::before {
  content: "";
  position: absolute;
  bottom: auto;
  left: 0;
  background-color: #FFDA73;
  width: 100%;
  height: 90px;
  z-index: 2;
}

.footer__space {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
}

.footer__space > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.footer__space > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

.footer__space > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.footer__item {
  padding: 30px 0px;
  text-align: center;
  font-size: var(--text-size-header-2);
  z-index: 3;
}

.menu {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}

.menu::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: #FFDA73;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.menu__body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 80px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1180px;
  margin: 0px auto;
  padding: 0 10px;
}

.menu__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60px;
          flex: 0 0 60px;
  border-radius: 40%;
  overflow: hidden;
  z-index: 3;
}

.menu__logo img {
  max-width: 100%;
  display: block;
}

.menu__burger {
  display: none;
}

.menu li {
  margin: 0 0 0 20px;
}

.menu__punkts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 3;
}

.menu__link {
  color: black;
  text-transform: uppercase;
  font-size: 18px;
  text-decoration: none;
}

.main__wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 100px 0 0 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  max-width: 1180px;
  margin: 0px auto;
  padding: 0 10px;
}

.menu__body {
  height: 50px;
}

.menu__burger {
  display: block;
  position: relative;
  width: 30px;
  height: 20px;
  position: relative;
  z-index: 3;
  cursor: pointer;
}

.menu__burger span {
  content: "";
  background-color: black;
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  top: 9px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.menu__burger::before {
  content: "";
  background-color: black;
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  top: 0;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.menu__burger::after {
  content: "";
  background-color: black;
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  bottom: 0;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.menu__burger.active::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 9px;
}

.menu__burger.active::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 9px;
}

.menu__burger.active span {
  -webkit-transform: scale(0);
          transform: scale(0);
}

.menu__punkts {
  position: fixed;
  display: block;
  overflow: auto;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #73FFDA;
  padding: 70px 10px 20px 10px;
  z-index: 1;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.menu__punkts.active {
  top: 0;
}

.menu li {
  margin: 0 0 20px 0;
}

.menu__link {
  font-size: var(--text-size-header-1);
}

.example {
  padding: 100px 0 0 0;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.example__wrapper {
  background-color: #FFC7BD;
  margin: 4% auto;
}

.example__wrapper-item {
  text-align: center;
  font-size: 30px;
}

.example__title {
  font-size: var(--text-size-header-1);
  text-align: center;
  margin: 20px 0 20px 0;
}

.example__title span {
  color: #d83319;
}

.example__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
  grid-template-columns: repeat(1, 1fr);
  padding: 10px;
  background-color: #a815ec;
}

.example__list li:last-child {
  padding-bottom: 10px;
}

.example-items {
  background-color: #12b5ce;
  font-size: var(--text-size-header-2);
  position: relative;
  padding: 0px 10px 0px 15px;
  line-height: 1.5;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.example-item__title {
  padding-right: 40%;
}

.example-item {
  border-bottom: solid #0a6f7f;
}

.example-item:hover {
  background-color: #0897ad;
}

.example-item__homework {
  background-color: #12c7e3;
  min-height: 150px;
}

.marker {
  position: absolute;
  font-size: var(--text-size-marker);
  font-weight: 900;
  top: 0;
  right: 15px;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.done {
  position: absolute;
  color: green;
  font-size: 8px;
  font-weight: 900;
  top: 5px;
  right: 32px;
}

.done2 {
  position: absolute;
  color: green;
  font-size: 8px;
  font-weight: 900;
  top: 5px;
  right: 56px;
}

.inprogress {
  position: absolute;
  color: red;
  font-size: 8px;
  font-weight: 900;
  top: 5px;
  right: 32px;
}

.clicked {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.hello__world, .variable, .base__operators-math {
  padding: 10px 20px 20px 40px;
  -ms-grid-column-align: auto;
      justify-self: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}

.label {
  display: block;
  font-size: var(--text-size-common);
}

.hello__world-input,
.variable-input,
.base__operators-math-item-input,
.form__cikles-item-input,
.form__switch-item-input {
  padding: 5px 10px 5px 15px;
  height: 40px;
  width: 100%;
  font-size: var(--text-size-common);
  background-color: #13d9f8;
  border-radius: 5px;
}

.button__form {
  font-size: var(--text-size-header-1);
  text-align: center;
  margin: 26px auto;
  width: 300px;
  border-radius: 30px;
  background-color: #a815ec;
}

@media (max-width: 768px) {
  .button__form {
    text-align: center;
    margin: 30px auto;
    width: 200px;
    border-radius: 20px;
  }
}
@media (max-width: 600px) {
  .hello__world, .variable {
    padding: 10px 20px 20px 40px;
    -ms-grid-column-align: auto;
        justify-self: auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}
.example-item__decor {
  font-size: var(--text-size-common);
  padding: 10px 10px 10px 20px;
}

.example-item__decor-center {
  font-size: var(--text-size-header-2);
  text-align: center;
  margin: 26px auto;
}

.data__type {
  list-style: square;
  margin-left: 40px;
}

.green {
  color: green;
}

.button__form-interaction {
  position: absolute;
  top: 50px;
  bottom: auto;
  left: 0;
  right: 0;
}

.button__cikles-4,
.button__switch-1 {
  display: inline-block;
}

.form__cikles-item-input,
.form__switch-item-input {
  margin: 0 40px 0 40px;
  width: auto;
}

.example-item__basejs-liststyle li {
  list-style-type: circle;
  margin: 0 0 0 40px;
}

.ollisit li {
  list-style-type: decimal;
  margin: 0 0 0 60px;
}

.example-item__qualityofcode-liststyle li {
  list-style-type: circle;
  margin: 0 0 0 40px;
}

body {
  min-width: 420px;
}

.main {
  background-color: #65A6D1;
  height: 100%;
}

.hoover {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  color: #fff;
  cursor: pointer;
}

.display__none {
  display: none;
}

body.lock {
  overflow: hidden;
}