
.hello__world,.variable,.base__operators-math {
    padding: 10px 20px 20px 40px;
    justify-self: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.hello__world-item {

}
.label{
    display: block;
    font-size:var(--text-size-common);
}

@media(max-width: 600px){
    .hello__world,.variable {
        padding: 10px 20px 20px 40px;
        justify-self: auto;
        display: grid;
        grid-template-columns: 1fr;
    }
}
.button__form-hello {
}
.example-item__decor{
    font-size: var(--text-size-common);
    padding: 10px 10px 10px 20px;
}
.example-item__decor-center{
    font-size: var(--text-size-header-2);
    text-align: center;
    margin: 26px auto;
}
.variable-item {
}
.button__form-variable {
}
.data__type{
    list-style: square;
    margin-left: 40px;
}
.green{
    color: green;
}
.button__form-interaction{
    position: absolute;
    top: 50px;
    bottom: auto;
    left: 0;
    right: 0;
}
.base__operators-math-item {
}
.button__baseoperators-mathitem {
}
.button__cikles-1{}
.button__cikles-2{}
.button__cikles-3{}
.button__cikles-4
,.button__switch-1{
    display: inline-block;
}
.form__cikles-item-input
,.form__switch-item-input
{
    margin: 0 40px 0 40px;
    width: auto;
}
.form__switch {
}
.form__switch-item {
}
.example-item__basejs-liststyle li{
    list-style-type: circle;
    margin: 0 0 0 40px;
}
.ollisit li{
    list-style-type: decimal;
    margin: 0 0 0 60px;
}