.example{
    padding: 100px 0 0 0;
    flex: 1 1 auto;
    
}
.example__wrapper {
    background-color: #FFC7BD;
    margin: 4% auto;
}
.example__wrapper-item {
    text-align: center;
    font-size: 30px;
}
.example__title {
    font-size: 32px;
    text-align: center;
    margin: 20px 0 20px 0;
}
.example__title span{
    color: #d83319;
}
.example__list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 10px;
    background-color: #a815ec;
}
.example__list li:last-child{
    padding-bottom: 10px;
}
.example-items {
    background-color: #12b5ce;
    position: relative;
    padding: 0px 10px 0px 15px;
    line-height: 1.5;
    transition: all 0.2s ease 0s;
}
.example-item{
    border-bottom: solid #0a6f7f;
}
.example-item:hover{
    background-color: #0897ad;
}
.example-item__homework{
    background-color: #12c7e3;
    min-height: 150px;
}
.marker{
    position: absolute;
    font-size: 18px;
    font-weight: 900;
    top: 0;
    right: 15px;
    transition: all 0.2s ease 0s;
}
.clicked{
    transform: rotate(180deg);
}
.hello__world,.variable {
    padding: 10px 20px 20px 40px;
    justify-self: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.hello__world-item {

}
.label{
    display: block;
    font-size: 20px;
}
.hello__world-input
,.variable-input{
    padding: 5px 10px 5px 15px;
    height: 40px;
    width: 100%;
    font-size: 20px;
    background-color: #13d9f8;
    border-radius: 5px;
}
.button__form {
    font-size: 30px;
    text-align: center;
    margin: 26px auto;
    width: 300px;
    border-radius: 30px;
    background-color: #a815ec;
}
@media(max-width: 768px){
    .button__form {
        font-size: 24px;
        text-align: center;
        margin: 30px auto;
        width: 200px;
        border-radius: 20px;
    }
}
@media(max-width: 600px){
    .hello__world,.variable {
        padding: 10px 20px 20px 40px;
        justify-self: auto;
        display: grid;
        grid-template-columns: 1fr;
    }
}
.button__form-hello {
}
.example-item__decor{
    font-size: 22px;
    padding: 10px 10px 10px 20px;
}
.variable-item {
}
.button__form-variable {
}
.data__type{
    list-style: square;
    margin-left: 40px;
}
.green{
    color: green;
}
.button__form-interaction{
    position: absolute;
    top: 50px;
    bottom: auto;
    left: 0;
    right: 0;
}