:root{
    --text-size-common: 22px;
    --text-size-header-1: 32px;
    --text-size-header-2: 26px;
    --text-size-marker: 18px;
}
@media(max-width: 768px){
    :root{
        --text-size-common: 18px;
        --text-size-header-1: 28px;
        --text-size-header-2: 22px;
        --text-size-marker: 17px;
    }
}
@media(max-width: 600px){
    :root{
        --text-size-common: 16px;
        --text-size-header-1: 26px;
        --text-size-header-2: 20px;
        --text-size-marker: 16px;
    }
}
@media(max-width: 532px){
    :root{
        --text-size-common: 12px;
        --text-size-header-1: 22px;
        --text-size-header-2: 16px;
        --text-size-marker: 14px;
    }
}
@media(max-width: 450px){
    :root{
        --text-size-common: 10px;
        --text-size-header-1: 20px;
        --text-size-header-2: 14px;
        --text-size-marker: 13px;
    }
}
@media(max-width: 401px){
    :root{
        --text-size-common: 8px;
        --text-size-header-1: 18px;
        --text-size-header-2: 12px;
        --text-size-marker: 12px;
    }
}


@import "nullfile.scss";
@import "footer.scss";
@import "menu.scss";
@import "baseJS.scss";
@import "qualitiOfCode.scss";
@import "objects_bascics.scss";


body{
    min-width: 420px;
}
.main {
    background-color: #65A6D1;
    height: 100%;
}
.hoover{
    transition: all 0.3s ease 0s;
    color: #fff;
    cursor: pointer;
}
.display__none{
    display: none;
}
body.lock{
    overflow: hidden;
}